.custom-shape-divider-top-1738672977 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1; /* Asegura que el shape divider esté detrás del contenido */
}

.custom-shape-divider-top-1738672977 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px); /* Ajusta el ancho para evitar cortes */
    height: 150px; /* Ajusta la altura según sea necesario */
}